* {
  box-sizing: border-box;
}
body {
  background-color: white;
  height: 900px;
  width: 100%;
  margin: 0;
}
.main-header {
  background-color: lightgrey;
  height: 200px;
  width: 100%;
  position: relative;
}
.logo {
  background-color: lightblue;
  height: 160px;
  width: 160px;
  margin-top: 20px;
  margin-left: 60px;
  position: absolute;
}
.next-content {
  background-color: white;
  height: 400px;
  width: 100%;
}
.next-content-2 {
  background-color: lightblue;
  height: 200px;
  width: 100%;
}
.next-content-3 {
  background-color: teal;
  height: 200px;
  width: 100%;
}
.next-content-4 {
  background-color: lightgreen;
  height: 200px;
  width: 100%;
}
.next-content-5 {
  background-color: yellow;
  height: 200px;
  width: 100%;
}
